/* variables */
:root {
  --background: #40161d;
  --special-color: #efdfa9;
  --button-background: #f2dea2;
  --white: #fff;
  --black: #000;
  --state: rgb(166, 151, 146);
  --state-text: #262625;
  --button-text: #8b0000;
  --imprint-background: #053373;
  --imprint-heading: #ff8a00;
  --imprint-text: #ffd14c;
  --video-background: #282626;
  --section-padding: 80px;
}

/* Include fonts from fonts file */
@font-face {
  font-family: "Avenir-light";
  src: url(../fonts/Avenir\ Light.ttf) format(truetype);
  font-weight: lighter;
}
@font-face {
  font-family: "Brandon-grotesque-light";
  src: url(../fonts/brandon-grotesque-light.otf) format(opentype);
  font-weight: lighter;
}

@font-face {
  font-family: "brandon-thin";
  src: url(../fonts/mplus-2p-thin.ttf) format(truetype);
}
/* 
  --imprint-background: #14326f;
  --imprint-heading: #f09035;
  --imprint-text: #f8d365;
*/

html {
  scroll-behavior: smooth;
  background-color: var(--imprint-background);
}

::-webkit-scrollbar {
  width: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--special-color);
}
/* global */
body {
  background-color: var(--imprint-background);
  font-family: "barlow", sans-serif;
  font-weight: lighter;
}
main#imprint section {
  animation: fadeIn 1s ease forwards;
  -webkit-animation: fadeIn 1s ease forwards;
}
/* add transition to all elements for page transition */
section * {
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--imprint-heading);
  font-family: "barlow", sans-serif;
}
p {
  margin: 0 !important;
  max-width: unset !important;
  margin-bottom: 40px !important;
}
ul {
  list-style: unset;
  padding-left: 65px;
}
p,
ul li {
  color: var(--imprint-text);
  font-size: 30px;
  line-height: 1.6;
}
p.within {
  margin: 0 !important;
}
.break {
  margin-bottom: 80px;
}
/* layout */
.main {
  padding-bottom: 0;
}
span {
  text-decoration: underline;
  color: var(--imprint-text);
}
h1 {
  font-weight: bold;
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}

/* responsive */

@media screen and (max-width: 767px) {
  .title {
    text-align: center;
    font-size: 20px;
  }
  p,
  ul li {
    font-size: 17px;
    line-height: 1.6;
  }
  ul {
    padding-left: 20px;
  }
  p {
    margin-bottom: 20px !important;
  }
  .break {
    margin-bottom: 40px;
  }
}
